<h1>Offers</h1>

<%= will_paginate @offers %>

<ul>
  <% @offers.each do |offer| %>
    <li>
      <a href="<%= offer_path(offer) %>">
        <div><strong><%= offer.title %></strong> at <%= offer.company.name %></div>
        <div><%= t offer.mode %></div>
      </a>
    </li>
    <br>
  <% end %>
</ul>