<div class="title">
  <h1><%= @offer.title %></h1>
  <h4><%= t "offers.modes.#{@offer.mode}" %></h4>

  <ul>
    <li>Empresa: <%= @offer.company.name %></li>
    <li>Salario: <%= number_to_currency(@offer.salary) %> CLP</li>
  </ul>

  <p><%= @offer.description %></p>
</div>
<div class="edit">
  <%= link_to 'Editar', edit_offer_path(@offer) %>
</div>
